<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add category</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark row">

        <!-- Brand -->
        <a class="navbar-brand" href="http://localhost:8080/adminHome">Admin Home</a>

        <div class="collapse navbar-collapse">
            <!-- Links -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Books
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="http://localhost:8080/addBook">Add book</a>
                        <a class="dropdown-item" href="http://localhost:8080/deleteBook">Delete book</a>
                        <a class="dropdown-item" href="http://localhost:8080/searchBook">Search book</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                        Categories
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="http://localhost:8080/category">List category</a>
                        <a class="dropdown-item" href="http://localhost:8080/addCategory">Add category</a>
                        <a class="dropdown-item" href="http://localhost:8080/deleteCategory">Delete category</a>
                        <a class="dropdown-item" href="http://localhost:8080/searchCategory">Search category</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="searchUser" id="btn_users">Search user</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" th:action="@{/login}" method="post">
                <span th:inline="text" class="userName pr-1 text-light">Hello [[${#httpServletRequest.remoteUser}]]!  </span>
                <button class="btn btn-outline-light my-2 my-sm-0 " type="submit">Log out</button>
            </form>
        </div>
    </nav>
    <!-- End Navigation Bar -->




    <div class=" card ">
        <div class="card-header">
            New category
        </div>
        <form action="category">
        <input type="text" class="form-control" id="typeCategory" placeholder="Type category">

        <input type="text" class="form-control" id="genre" placeholder="Genre">

        <input type="text" class="form-control" id="language" placeholder="Language">

        <button type="submit" class="btn btn-primary col-sm-12" onclick="addCategory()">Save</button>
    </form>
    </div>
</div>
<script>
    function addCategory() {
        var data={
            "typeCategory": $("#typeCategory").val(),
            "genre": $("#genre").val(),
            "language": $("#language").val(),

        };

        $.ajax({
            url: 'http://localhost:8080/api/category/addCategory',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
        });
    };

</script>
</body>
</html>