<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        table {
            width: 100%;
        }
    </style>


</head>
<body>
    <div class="container-fluid">
        <!-- Navigation Bar -->
        <!-- Navigation Bar -->

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark row">

            <!-- Brand -->
            <a class="navbar-brand" href="http://localhost:8080/adminHome">Admin Home</a>

            <div class="collapse navbar-collapse">
                <!-- Links -->
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Books
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="http://localhost:8080/addBook">Add book</a>
                            <a class="dropdown-item" href="http://localhost:8080/deleteBook">Delete book</a>
                            <a class="dropdown-item" href="http://localhost:8080/searchBook">Search book</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                            Categories
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="http://localhost:8080/addCategory">Add category</a>
                            <a class="dropdown-item" href="http://localhost:8080/deleteCategory">Delete category</a>
                            <a class="dropdown-item" href="http://localhost:8080/searchCategory">Search category</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="searchUser" id="btn_users">Search user</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" th:action="@{/login}" method="post">
                    <span th:inline="text" class="userName pr-1 text-light">Hello [[${#httpServletRequest.remoteUser}]]!  </span>
                    <button class="btn btn-outline-light my-2 my-sm-0 " type="submit">Log out</button>
                </form>
            </div>
        </nav>
        <!-- End Navigation Bar -->
        <!-- End Navigation Bar -->

        <!-- Content -->
        <div id='root'></div>
            <script>
                    $.ajax({
                    url: "http://localhost:8080/api/user/allUsers"
                }).then(function (data) {
                    renderTable(data);
                });
                function renderTable(data) {
                    var len=$("#root").children().length;
                    console.log(len);
                    if(len!=0){
                        $("#root").empty();
                    }
                    $("#root").append('<div class="container">\
				<table class="table table-hover table-responsive ">\
				<thead class="thead-dark">\
				<tr>\
				<th>ID</th>\
				<th>Name</th>\
				<th>Surname</th>\
				<th>Email</th>\
				<th>Gender</th>\
				<th>Address</th>\
				<th>Phone</th>\
				<th>Birthday</th>\
				<th>isEnabled</th>\
				</tr>\
				</thead>\
				<tbody id="table_body"></tbody>\
				</table>\
				</div>');
                    for(var i=0; i<Object.keys(data).length; i++){
                        $("#table_body").append("<tr>\
					<th>"+data[i].id_user+"</th>\
					<td>"+data[i].name+"</td>\
					<td>"+data[i].surname+"</td>\
					<td>"+data[i].email+"</td>\
					<td>"+data[i].sex+"</td>\
					<td>"+data[i].address+"</td>\
					<td>"+data[i].phone+"</td>\
					<td>"+data[i].date_of_birth+"</td>\
					<td>"+data[i].enabled+"</td>\
					</tr>");
                    }
                }
            </script>

        <!-- End Content -->

        <!-- Footer -->
        <footer class="text-white-50 navbar-dark bg-dark "style="margin: 0px -15px 0px -15px">
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fa fa-facebook-official" style="color:white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fa fa-twitter-square" style="color:white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item ">
                    <a class="btn-floating btn-in mx-1">
                        <i class="fa fa-instagram" style="color:white" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
            <div class="footer-copyright text-light text-center">© 2019 Copyright:
                <a class="badge badge-light" href="#">BookStore.com</a>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
</body>
</html>