<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<div class="container">
    <div class="col-md">
        <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
        </div>
    </div>
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign up</div>
            </div>

            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <!-- Form -->
                <form class="form-horizontal" role="form" method="POST" th:action="@{/signup}" th:object="${user}">

                    <!--Name field-->
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" th:field="*{name}" class="form-control" id="name"
                               placeholder="Name" required autofocus>
                    </div>

                    <!--Surname field-->
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" th:field="*{surname}" class="form-control" id="surname"
                               placeholder="Surname" required autofocus>
                    </div>

                    <!--Gender field-->
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
<!--                        <input type="text" th:field="*{sex}" class="form-control" id="sex"-->
<!--                               placeholder="Gender" required autofocus>-->
                        <select  th:field="*{sex}" class="form-control" id="sex" required autofocus>
                            <option value="">Gender</option>
                            <option value="Man">Man</option>
                            <option value="Woman">Woman</option>
                        </select>
                    </div>

                    <!--Address field-->
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-home"></i></div>
                        <input type="text" th:field="*{address}" class="form-control" id="address"
                               placeholder="Address" required autofocus>
                    </div>

                    <!--Phone field-->
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></div>
                        <input type="text" th:field="*{phone}" class="form-control" id="phone"
                               placeholder="Phone" required autofocus>
                    </div>

                    <!--Birthday field-->
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                        <input type="date" th:field="*{date_of_birth}" class="form-control" id="date_of_birth"
                               placeholder="Date_of_birth" required autofocus>
                    </div>

                    <!--Email field-->
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                        <input type="email" th:field="*{email}" class="form-control" id="email"
                               placeholder="username@site.com" required>
                    </div>

                    <!--Password field-->
                    <div style="margin-bottom: 25px" class="input-group text-center">

                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input type="password" th:field="*{password}" class="form-control" id="password"
                               placeholder="Password" required>
                    </div>


                    <!--submit link-->
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn btn-success">Sign up</button>
                        </div>
                    </div>

                    <!--sign up link-->
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Have an account?
                                <a href="/signin" onClick="">
                                    Sign in
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>