<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Navigation Bar -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark row">

    <!-- Brand -->
    <a class="navbar-brand" href="http://localhost:8080/adminHome">Admin Home</a>

    <div class="collapse navbar-collapse">
        <!-- Links -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Books
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://localhost:8080/addBook">Add book</a>
                    <a class="dropdown-item" href="http://localhost:8080/deleteBook">Delete book</a>
                    <a class="dropdown-item" href="http://localhost:8080/searchBook">Search book</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                    Categories
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="http://localhost:8080/addCategory">Add category</a>
                    <a class="dropdown-item" href="http://localhost:8080/deleteCategory">Delete category</a>
                    <a class="dropdown-item" href="http://localhost:8080/searchCategory">Search category</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="searchUser" id="btn_users">Search user</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" th:action="@{/login}" method="post">
            <span th:inline="text" class="userName pr-1 text-light">Hello [[${#httpServletRequest.remoteUser}]]!  </span>
            <button class="btn btn-outline-light my-2 my-sm-0 " type="submit">Log out</button>
        </form>
    </div>
</nav>
<!-- End Navigation Bar -->
<div class="container">
    <div class=" card">
        <div class="card-header  bg-dark" style="color:white">
            Edit User
        </div>
        <div class="row card-body">
            <div class="col-sm-12">
                <form class="form-horizontal" role="form"   th:action="@{/userEdit/save}" th:object="${user}" method="post">
                    <!--        <input type="hidden" value="${id}" name="user_id">-->
                    <!--        <input type="hidden" value="${_csrf.token}" name="_csrf">-->

                    <input type="hidden" th:field="*{id_user}">
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <input type="text" th:field="*{name}" placeholder="Name" required autofocus>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <input type="text" th:field="*{surname}" placeholder="Surname" required autofocus>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <select  th:field="*{sex}" class="form-control" id="sex" required autofocus>
                            <option value="">Sex</option>
                            <option value="Man">Man</option>
                            <option value="Woman">Woman</option>
                        </select>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <input type="text" th:field="*{address}" placeholder="Address" required autofocus>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <input type="text" th:field="*{phone}" placeholder="Phone" required autofocus>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <input type="text" th:field="*{date_of_birth}" placeholder="Birthday" required autofocus>
                    </div>
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <input type="email" th:field="*{email}" placeholder="Email" required autofocus>
                    </div>gi
                    <div style="margin-bottom: 25px" class="input-group text-center">
                        <input type="password" th:field="*{password}" placeholder="Password" required autofocus>
                    </div>
                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>